html{
    margin: 0;
    padding: 0;
   font-family: sans-serif;
    box-sizing:border-box;
}
a{
    text-decoration: none; 
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.logo{
    width: 15vw;
    height: 15vh;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 1px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 2vw;
    margin-right: 1vh;
}
.nav-left .menu-icon{
    width: 2vw;
    margin-bottom: 30px;
}
.nav-middle .mic-icon{
    width: 1vw;
}
.nav-middle .search-icon{
    width: 1.1vw;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 0.9vw;
}
.side-bar{
    background: #fff;
    width: 15%;
    height: 100vh;
    padding-left: 2%;
    padding-top: 200px
    position: fixed;
    top: 0;
    float:left;
}
.shortcutlinks a img{
    width: 16px;
    margin-right: 20px;
    flex-wrap: wrap;
}
.shortcutlinks a{
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    width: fit-content;
    flex-wrap: wrap; 
    
}
.shortcutlinks :first-child{
    color: red;
}
.vid-list img{
    width: 250px;
}
.video{
    float: left;
    margin-left: 10px;
    flex-wrap: wrap;
}